POSTGRES_DB=mlv_node
POSTGRES_USER=mlv
POSTGRES_PASSWORD=CHANGE_ME_STRONG_PASSWORD

MONGO_URI=mongodb://mongo:27017/mlv_content

JWT_SECRET=CHANGE_ME_TO_32_PLUS_RANDOM_CHARS
JWT_EXPIRES=7d

BANK_NAME=Vietcombank
BANK_ACCOUNT_NAME=CONG TY TM SOFTWARE AI
BANK_ACCOUNT_NUMBER=1900000000000
BANK_BRANCH=TP.HCM
BANK_QR_IMAGE_URL=
SALES_ZALO_LINK=
SALES_TELEGRAM_LINK=
SALES_PHONE=
